<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
  <head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
  </head>

  <html>
    <div class="errorPage">
      <span class="oops">Oops!</span><br/>
      <img th:src="@{/MissingPage.png}"/>
      <p>There seems to be a problem with the page you requested 
         (<span text="${path}">/readingList</span>).</p>
      <p th:text="${'Details: ' + message}"></p>
    </div>
  </html>

</html>
